{
    "monitor": [
        {
            "host_id": "localhost",
            "last_line_read": 0,
            "last_time_read": 0,
            "location": "/var/log/test logs/Apache-WordPress.log",
            "requests": [
                {
                    "address": "http://127.0.0.1:8088/services/collector",
                    "token": ""
                }
            ],
            "rotation_hours": 24,
            "rotation_start": "00:00",
            "type": "apache access combined"
        }
    ]
}
