{
    "monitor": [
        {
            "type": "apache access combined",
            "requests": [
                {
                    "token": "",
                    "address": "http://127.0.0.1:8088/services/collector"
                }
            ],
            "location": "/var/log/VPS-Log-Watch/test logs/Apache-WordPress.log",
            "rotation_start": "00:00",
            "last_line_read": 0,
            "last_time_read": 0,
            "rotation_hours": 24
        }
    ],
    "host": "localhost"
}
